.card-body button{
    background-color:#191919;
    
}
button a{
    color:white;
}
main h1{
    font-size:50px;

}
.container-footer{
    margin-right: 200px;
}
h1 a{
    color:linear-gradient(#191919);
    text-decoration: none;
    

}
h1{
    color:white;
    padding:0;
}
